@model IEnumerable<SportEvents.Domain.Event>
<head>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            padding: 16px;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: calc(33.333% - 16px); /* Adjust as necessary for responsive design */
            background-color: #fff;
            overflow: hidden;
        }

        .card-header {
            background-color: #f5f5f5;
            padding: 16px;
            font-size: 1.2em;
            font-weight: bold;
        }

        .card-body {
            padding: 16px;
            font-size: 0.9em;
        }

        .card-footer {
            background-color: #f5f5f5;
            padding: 16px;
            text-align: right;
            border-top: 1px solid #ddd;
        }

        .card-footer a {
            margin: 0 4px;
            text-decoration: none;
            color: #fff;
        }

        .card-footer a:hover {
            text-decoration: underline;
        }

    </style>
</head>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Register new event</a>
</p>

<div class="card-container bg-gradient">
    @foreach (var item in Model) {
    <div class="card">
        <div class="card-header">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
        </div>
        <div class="card-body">
            <p><strong>Description:</strong> @Html.DisplayFor(modelItem => item.Description)</p>
            <p><strong>Location:</strong> @Html.DisplayFor(modelItem => item.Location)</p>
            <p><strong>Start Date:</strong> @Html.DisplayFor(modelItem => item.StartDate)</p>
            <p><strong>End Date:</strong> @Html.DisplayFor(modelItem => item.EndDate)</p>
            <p><strong>Event Type:</strong> @Html.DisplayFor(modelItem => item.EventType)</p>
            <p><strong>Organizer:</strong> @Html.DisplayFor(modelItem => item.Organizer.Name)</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
    }
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>