@using Domain.Options
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Domain.DTO.TicketDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any())
{
    <h2>@Model[0].Username ticket list</h2>
    <a asp-action="ExportTicketsToExcel">Export Tickets</a>
    <table class="table">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Location</th>
            <th>Purchase Date</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Quantity</td>
                <td>@ticket.EventName</td>
                <td>@ticket.EventDate</td>
                <td>@ticket.Location</td>
                <td>@ticket.PurchaseDate.ToShortDateString()</td>
                
            </tr>
        }
        </tbody>
    </table>

}
