@using Domain.Options
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@model Domain.DTO.ShoppingCartDTO
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* Page-specific styles */
    body {
        background-color: #f1f1f1;
    }
    thead {
        background: #17a2b8;
        color: white;
    }
    a {
        color: #17a2b8;
    }
    .container {
        margin-top: 30px;
    }
    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #343a40;
    }
    .table {
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .btn-outline-custom {
        border-color: #17a2b8;
        color: #17a2b8;
        transition: 0.3s;
    }
    .btn-outline-custom:hover {
        background-color: #17a2b8;
        color: white;
    }
</style>

<h1  style="color: #17a2b8;">Shopping Cart</h1>

<div class="container">
    <table class="table table-striped text-light">
        <thead class="text-black">
        <tr>
            <th>#</th>
            <th>Ticket for Event</th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody class="text-light">
        @for (int i = 0; i < Model.Tickets.Count(); i++)
        {
            var item = Model.Tickets[i];
            <tr class="text-light">
                <td class="text-light">@(i + 1)</td>
                <td class="text-light">@Html.DisplayFor(modelItem => item.Event.Name)</td>
                <td class="text-light">@Html.DisplayFor(modelItem => item.Event.EventPrice) $</td>
                <td class="text-light">@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td class="text-center">
                    <a class="btn btn-outline-custom btn-sm" asp-action="DeleteFromShoppingCart" asp-route-id="@item.Id" asp-controller="ShoppingCart">Delete</a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="text-right"><b>Total:</b></td>
            <td><b>@Model.TotalPrice $</b></td>
        </tr>
        </tfoot>
    </table>

    @if (Model.TotalPrice != 0)
    {
    <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
        <div class="stripe-button text-center">
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="EShop Application Payment"
                    data-amount="@(Model.TotalPrice * 100)"
                    data-label="Pay $@Model.TotalPrice">
            </script>
        </div>
    </form>
    }
</div>


